.Title{
    width: 100%;
    margin: 40px 0;

    color: white;

    font-size: 32px;
    font-weight: 400;
}

.ServiceTitle{
    width: 100%;

    color: white;

    font-size: 28px;
    font-weight: 400;
}