@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    /* font-family: 'Roboto', sans-serif; */
}

html, body, #root{
    width: 100%;
    height: 100vh;
}

a{ text-decoration: none; }



.ImageFadeFixed{
    z-index: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center center;
}

.logo{
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5vh 5vw;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 36px;
    font-weight: 500;
    text-shadow: 1px 1px #262626;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.App{
    z-index: 100;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: flex-end;
}
.App *{ z-index: 100; }

.diagonal-layout{
    position: relative;
    margin-left: auto;

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(0, 0, 0, .5);
}

.body{
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .diagonal-layout{
        width: 100%;
    
        padding: 0 25px 0 125px;
        clip-path: polygon(100% 0%, 100px 0%, 0% 100%, 100% 100%);
    }
    .logo{ display: none; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .diagonal-layout{
        max-width: 900px;
        min-width: 600px;
        width: 60%;
    
        padding: 0 75px 0 200px;
        clip-path: polygon(100% 0%, 150px 0%, 0% 100%, 100% 100%);
    }
}